Config(
    desktop_actions: false,
    max_entries: null,
    terminal: Some("kitty"),
    layer: Overlay,
    hide_icons: false,
    hide_plugin_info: false,
    close_on_click: false,
    show_results_immediately: false,
    ignore_exclusive_zones: false,
    x: Fraction(0.5),
    y: Fraction(0.1),
    width: Fraction(0.4),
    plugins: [
        "libapplications.so",
        "libwebsearch.so",  // Web search like Spotlight
        "librink.so",       // Calculator
        "libshell.so",      // Commands
        "libkidex.so",      // Files
        "libdictionary.so", // Definitions
    ],
)